In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from pandas import Series, DataFrame
from numpy import nan as NA

### Series 
``Одновимірний масив даних будь-якого типу і асоційований з ним масив міток (*індексів*)`` 
* якщо індекс не задано, то це range(N)
* звичайний словник можна передати в Серію
* в Серії є парамметр імені

In [2]:
obj1 = Series([4,7,5,6,-1])
print(obj1[0])
obj2 = Series([4,5,6], index = ['a','b','c'])
obj2.name = "Test"
print(obj2.index)
print(obj2[obj2 >4])

4
Index(['a', 'b', 'c'], dtype='object')
b    5
c    6
Name: Test, dtype: int64

### DataFrame
``Це таблична структура даних подібну до SQL-таблиці``
Можна вважати, що це словник Серій
* В конструктор можна передати словник списків(з однаковою довжиною) або narray з NumPy
* в конструкторі можна задати строгий порядок стовпчиків
* Кожен стовпчик можна повернути як Серію
* якщо передати в конструктор словник словників, то внутрішні ключі будуть індексами

In [3]:
frame = DataFrame({'Nevada':{1:2.4, 2:3},
                   'Ohio': {2:2.4, 4:4},
                  })
frame

   Nevada  Ohio
1     2.4   NaN
2     3.0   2.4
4     NaN   4.0

### Index 
``Об'єкт для представлення індексів у DataFrame i Series``
Може бути представленим, як: 
* Індекс цілих значень 
* Індекс як narray
* Індекс для періодів і часу у мілісекундах
* ієрврхічний індекс (має декілька рівнів індексування осі)
* Значення не обов'язково унікальні 

**Переіндексація:**

In [4]:
print(obj2)
obj3 = obj2.reindex(['a','b','c','d'])
print(obj3)
obj4 = obj2.reindex(['a','b','c','d'],fill_value=0)
print(obj4)
obj1.reindex(range(15), method='ffill')
obj1

a    4
b    5
c    6
Name: Test, dtype: int64
a    4.0
b    5.0
c    6.0
d    NaN
Name: Test, dtype: float64
a    4
b    5
c    6
d    0
Name: Test, dtype: int64

0    4
1    7
2    5
3    6
4   -1
dtype: int64

In [43]:
#! Видалення елементів з осі і доступ по інлексу
data = DataFrame(np.arange(16).reshape((4,4))
                 ,index = ['1','2','3', '4']
                 , columns= ['one', 'two', 'three', 'four'])
print(data)
print(data.drop('1'))
print (data.drop(['2', '4']))
print(data['2':'4'])
print(data['two'])
print(data > 5)

   one  two  three  four
1    0    1      2     3
2    4    5      6     7
3    8    9     10    11
4   12   13     14    15
   one  two  three  four
2    4    5      6     7
3    8    9     10    11
4   12   13     14    15
   one  two  three  four
1    0    1      2     3
3    8    9     10    11
   one  two  three  four
2    4    5      6     7
3    8    9     10    11
4   12   13     14    15
1     1
2     5
3     9
4    13
Name: two, dtype: int32
     one    two  three   four
1  False  False  False  False
2  False  False   True   True
3   True   True   True   True
4   True   True   True   True

In [51]:
#! арифметичні операції на прикладі додавання  
df1 = DataFrame(np.arange(16).reshape((4,4))
                 ,index = ['1','2','3', '4']
                 , columns= ['one', 'two', 'three', 'four'])
df2 = data = DataFrame(np.arange(16).reshape((4,4))
                 ,index = ['1','2','3', '4']
                 , columns= [ 'two','one', 'five', 'four'])
df1.add(df2, fill_value = 0)

   five  four  one  three  two
1   2.0     6    1    2.0    1
2   6.0    14    9    6.0    9
3  10.0    22   17   10.0   17
4  14.0    30   25   14.0   25

In [67]:
#! Операції між Dataframe i Series 
arr = np.arange(12).reshape((3,4))
frame = DataFrame(arr)
s = frame.loc[0]
frame-s

   0  1  2  3
0  0  0  0  0
1  4  4  4  4
2  8  8  8  8

In [105]:
# Сортування 
print (df1.sort_index())
# Ранжування кожому елементу присвоюються ранги від 1 до N
print(df1.rank())

   one  two  three  four
1    0    1      2     3
2    4    5      6     7
3    8    9     10    11
4   12   13     14    15
   one  two  three  four
1  1.0  1.0    1.0   1.0
2  2.0  2.0    2.0   2.0
3  3.0  3.0    3.0   3.0
4  4.0  4.0    4.0   4.0

## Редукція і обчислення опусуючих статистик 
Реlукції - це методи які вираховують єдине значення (меншого порядку, тобто для серій це число, а для фреймів це серія або число) 
* квантилі 
* вибіркова дисперсія 

...
* коваріація 
* кореляція

### Обробка відсутніх даних 
якщо дані відсутні то в pandas цим значенням присвоюється NaN

**МЕТОДИ ОБРОБКИ ВІДСУТНІХ ДАНИХ** 

* dropna - фільтрує вісь на наявність NaN 
* fillna - заміна відсутніх даних на якесь значення(можна передати значення які задежать від стовпчикач)
* isnull - повертається об'єкт булевих знач де вказується які дані відсутні 
* notnull - лог заперечення попереднього

In [109]:
data = Series(['1','2',np.nan,'4'])
print(data.isnull())
data.dropna()

0    False
1    False
2     True
3    False
dtype: bool

0    1
1    2
3    4
dtype: object

   ### Ієрархічне індексування 
   Це спосіб працювати з багатомірними даними, які представлено в формі з меншою розмірністю
   * swaplelel()
   * sortlevel()

In [113]:
data = Series(np.random.randn(6), index=[['a','a','a','b','b','b'],[1,2,3,1,2,3]])
data.unstack().stack().unstack()# перетворює в DataFrame

          1         2         3
a  0.548309  1.170712  0.093308
b -1.017386  0.165879  0.476831

### Panel - трьохмірний аналог DataFrame